@use "../../assets/mixins";
@use "../../assets/variables";

.container {
  @include mixins.sectionDisposition;

  .content {
    @include mixins.sectionContent;
    flex-direction: column;
    text-align: center;

    .motto {
      padding-inline: 2em;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      width: 100%;
      
      .srOnly {
        @include mixins.accessibility;
      }

      .quote,
      .author {
        font-family: variables.$font-title;
        text-transform: uppercase;
      }
      .quote {
        font-size: 30px;
      }
      .author {
        font-size: 25px;
        color: variables.$main-pink;
      }
    }
    .description {
      padding-inline: 1.5em;
      white-space: break-spaces;
      font-size: 17px;
      line-height: 17px;
    }
  }

  .image {
    @include mixins.sectionContent;
    filter: drop-shadow(0 0 25px #000);
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;

    .content {
      text-align: left;
      .motto {
        .quote {
          font-size: 45px;
        }
        .author {
          font-size: 30px;
        }
      }
      .description {
        font-size: 19px;
      }
    }
    .image {
      transform: scale(1.3);
    }
  }
}
