@use "./variables";

@mixin title() {
  font-family: variables.$font-title;
  color: variables.$main-pink;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff, 0 0 12px #f09, 0 0 22px #f09, 0 0 42px #f09;
}

@mixin menu() {
  font-family: variables.$font-menu;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    color: variables.$main-pink;
  }
}

@mixin sectionContent() {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 900px) {
    width: 50% !important;
    height: 100% !important;
  }
}

@mixin sectionDisposition() {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    margin-inline: 3em;
    gap: 0px;
  }
}

@mixin accessibility() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
