@use "./variables";

@mixin title() {
  font-family: variables.$font-title;
  color: variables.$main-pink;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff, 0 0 12px #f09, 0 0 22px #f09, 0 0 42px #f09;
}

@mixin menu() {
  font-family: variables.$font-menu;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    color: variables.$main-pink;
  }
}

@mixin sectionContent() {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 900px) {
    width: 50% !important;
    height: 100% !important;
  }
}

@mixin sectionDisposition() {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    margin-inline: 3em;
    gap: 0px;
  }
}

@mixin accessibility() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin carousel() {
  position: relative;
  display: flex;
  width: 320px;
  height: 400px;

  .carouselArrowsWrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    align-items: center;

    .carouselArrow {
      font-size: 2.5rem;
      pointer-events: all;
      color: #fff;
      filter: drop-shadow(0 0 5px #00000091);
      cursor: pointer;
      transition: 0.35s all;

      &:hover {
        color: variables.$main-pink;
      }
    }
  }

  .container {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  @media screen and (min-width: 500px) and (max-width: 1099px) {
      width: 650px;

      .container {
        gap: 10px;
      }
  }

  @media screen and (min-width: 1100px) {
      width: 980px;

      .container {
        gap: 10px;
      }
  }
}

@mixin card() {
  border: 2px dotted variables.$main-fuchsia;
  height: 400px;
  width: 320px;
  border-radius: 30px;
  padding: 1em;
  background: #28282850;
  backdrop-filter: blur(3px);
  text-align: center;
  transition: 0.35s all ease;

  &:hover {
    background: #311d2e;
  }
}
