@use "../../assets/mixins";
@use "../../assets/variables";

.container {
  @include mixins.sectionDisposition;
  justify-content: space-between;

  .image {
    @include mixins.sectionContent;
    display: flex;
    flex-direction: column;

    img {
      max-width: 60%;
      height: auto;
      filter: drop-shadow(0 0 2px #000) drop-shadow(1px 1px 4px #000)
        drop-shadow(0 0 10px variables.$main-pink);
      animation: slideIn infinite reverse 2s;
    }

    .shadow {
      width: 300px;
      height: 10px;
      margin-top: 10px;
      opacity: 50%;
      box-shadow: 0px 0px 15px #000;
      background-color: #000;
      border-radius: 100%;
      animation: shadow 2s infinite linear;
    }
  }

  .section {
    @include mixins.sectionContent;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .codes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      gap: 10px;
      margin-inline: 1em;

      .containerCode {
        position: relative;
        text-align: center;
        transition: 0.35s ease;
        cursor: pointer;

        .backgroundCode {
          font-family: variables.$font-menu;
          font-size: 35px;
        }

        .foregroundCode {
          position: absolute;
          top: 20px;
          left: 50%;
          transform: translateX(-50%) rotate(-10deg);
          font-family: variables.$font-codes;
          font-size: 25px;
          font-weight: bolder;
          letter-spacing: 5px;
          text-shadow: 0px 0px 10px #fff;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}


@keyframes slideIn {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }
}

@keyframes shadow {
  0%,
  100% {
    width: 300px;
  }
  50% {
    width: 250px;
  }
}

@media screen and (min-width: 900px) {
  .container {    
    .codes {
      margin-inline: 2em !important;
      
      .containerCode {
        .backgroundCode {
          font-size: 55px !important;
        }
        .foregroundCode {
          font-size: 45px !important;
        }
      }
    }
  }
}